@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #333;;
}

body{
    background-color: white;
}

header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
    height: 30px;
}

.left{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 50px;
    color: rgb(246, 0, 20);
}

.logo{
    width: 80px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

img{
    width: 100px;
    height: auto;
    object-fit: contain;
}

.right ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    color: rgb(246, 0, 20);
}

.right ul li{
    color: rgb(246, 0, 20);
    font-weight: 800;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: aliceblue;
    padding-top: 60px;
    padding-bottom: 40px;
}

.first_1{
    color: rgb(49, 45, 45);
    font-size: 1.1rem;
    margin-top: -10px;
}

.first_2{
    font-size: 3rem;
    color: rgb(0, 0, 0);
}

.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

button{
    width: 180px;
    height: 50px;
    text-transform: uppercase;
    border-color: #056cb8;
    color: blue;
    border-radius: 1px;
    border: 1px solid #0a73c0;
    font-size: 15px;
    font-weight: 600;
}

#red{
    background-color: rgb(250, 0, 0);
    color: #fff;
    border: none;
}

.six{
    font-size: 14px;
    color: rgb(53, 47, 47);
    text-align:center
}

.zzzz{
    display: flex;
    flex-direction: row;
    color: red;
    gap: 10px
}

.icons{
    height: 30px;
    width: 30px;
    background-color: gray;
    border: blue solid 1px;
    border-radius: 50%;
    margin-top:10px;
}

.second_cont{
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 50px;
    font-weight: 800;
}


.div{
    display: flex;
    flex-direction: row;
    margin-top: -60px;
    padding: 50px;
    gap: 50px;
}

.top{
    margin-top: -50px;
}

.first{
    font-weight: 800;
}

.description{
    width: 50%;
}

.middle{
    font-size: 20px;
}

.info{
    font-size: 20px;
}

.bold{
    font-weight: 600;
}

.li ul{
    padding: 30px;
    font-size: 18px;
    font-weight: 800;
}

.end{
    margin-top: 40px;
    background-color: rgb(250, 0, 0);
    color: #fff;
    border: none;
    
}

.view{
    height: 150px;
    background-color: rgb(207, 226, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}

.power{
    background-color: rgb(11, 13, 31);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(11, 13, 31);
    font-weight: 500;
}





